[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/TomasWildhaber/glfw.git
	branch = DMP
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TomasWildhaber/imgui
	branch = DMP
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/TomasWildhaber/asio.git
	branch = DMP
[submodule "vendor/ImGuiDatePicker"]
	path = vendor/ImGuiDatePicker
	url = https://github.com/TomasWildhaber/ImGuiDatePicker.git
	branch = DMP
